html, body, h1, h2, p
  padding: 0
  border: 0
  margin: 0
  line-height: 1
  font-family: Helvetica, sans-serif
body
  background-color: #E3E3E3
a
  text-decoration: none
.spcMob
  display: none
  .yearMake
    font-size: 14px
  .trim
    text-align: left
    margin: 0 0 0 35px
.vehicle
  z-index: 1000
  background-color: rgba(0, 0, 0, 0.3)
  margin: 0 0 0 -25px
  width: 500px
  padding: 10px 0 10px 20px
.specialContainer
  z-index: 500
  padding: 25px
  width: 930px
  height: 600px
  margin: 0 0 -130px 0
  background-size: 100%
  background-repeat: no-repeat

.list1
  background-image: url("200.png")
.list2
  background-image: url("challenger.png")
.list3
  background-image: url("CHH2415.png")
.list4
  background-image: url("CHH2234.png")
.list5
  background-image: url("CHH2441.jpg")
.list6
  background-image: url("CHH1913.png")
.list7
  background-image: url("CHH1839B.png")
.list8
  background-image: url("CHH2752.png")
.list9
  background-image: url("CHH2800A.png")
.yearMake
  z-index: 30
  font-weight: 300
  color: #fff

.model
  z-index: 30
  font-size: 90px
  color: #fff

.trim
  z-index: 30
  font-size: 42px
  color: #fff
.yearMakeDark
  z-index: 30
  font-weight: 300
  color: #000

.modelDark
  z-index: 30
  font-size: 90px
  color: #000

.trimDark
  z-index: 30
  font-size: 42px
  color: #000
.vehicleImage
  z-index: 2
  width: 100%

.priceContainer
  z-index: 3
  width: 500px
  text-align: center
  position: relative
  top: 273px
  left: 612px
.priceContainerR
  z-index: 3
  width: 500px
  text-align: center
  position: relative
  top: 216px
  left: 612px
.clickPriceButton
  text-decoration: none
  font-size: 12px
  background-color: rgb(98, 15, 15)
  color: #ffffff
  padding: 7px 61px 5px 61px
  z-index: 200
.clickPriceButtonR
  text-decoration: none
  font-size: 12px
  background-color: rgb(98, 15, 15)
  color: #ffffff
  padding: 7px 48px 5px 48px
  z-index: 200
.clickPriceButtonR:hover
  background-color: rgb(79, 12, 12)
.pricer:hover
  .clickPriceButton
    background-color: rgb(122, 12, 12)
.yourPrice
  background-color: rgba(255, 255, 255,0.8)
  width: 166px
  margin: auto
  padding: 15px 10px
  z-index: 101
  text-decoration: none
  color: #000000
  font-weight: 400
  font-size: 16px
.info
  text-decoration: none
  text-align: center
  font-size: 12px
  background-color: rgb(98, 15, 15)
  color: #ffffff
  padding: 7px 0px 5px 0px
  width: 166px
  z-index: 100
  right: 0
  top: 297px
  position: absolute
  border-bottom: 1px solid rgb(79, 12, 12)
.info:hover
  cursor: pointer
  background-color: rgb(79, 12, 12)
.vehicleInfo
  background-color: rgba(255, 255, 255,1)
  color: #000000
  position: absolute
  width: 940px
  padding: 35px 20px 20px 20px
  top: 0
  left: 0
  z-index: 1
  height: 421px
  display: none
  ul
    margin: 30px 0 0 30px
    font-size: 25px
    line-height: 1.5
.info2
  text-decoration: none
  text-align: center
  font-size: 12px
  background-color: rgb(98, 15, 15)
  color: #ffffff
  padding: 7px 0px 5px 0px
  width: 166px
  z-index: 100
  right: 0
  top: 817px
  position: absolute
  border-bottom: 1px solid rgb(79, 12, 12)
.info2:hover
  cursor: pointer
  background-color: rgb(79, 12, 12)
.vehicleInfo2
  background-color: rgba(255, 255, 255,1)
  color: #000000
  position: absolute
  width: 940px
  padding: 35px 20px 20px 20px
  top: 520px
  left: 0
  z-index: 1
  height: 421px
  display: none
  ul
    margin: 30px 0 0 30px
    font-size: 25px
    line-height: 1.5

.info3
  text-decoration: none
  text-align: center
  font-size: 12px
  background-color: rgb(98, 15, 15)
  color: #ffffff
  padding: 7px 0px 5px 0px
  width: 166px
  z-index: 100
  right: 0
  top: 1337px
  position: absolute
  border-bottom: 1px solid rgb(79, 12, 12)
.info3:hover
  cursor: pointer
  background-color: rgb(79, 12, 12)
.vehicleInfo3
  background-color: rgba(255, 255, 255,1)
  color: #000000
  position: absolute
  width: 940px
  padding: 35px 20px 20px 20px
  top: 1040px
  left: 0
  z-index: 1
  height: 421px
  display: none
  ul
    margin: 30px 0 0 30px
    font-size: 25px
    line-height: 1.5
.info4
  text-decoration: none
  text-align: center
  font-size: 12px
  background-color: rgb(98, 15, 15)
  color: #ffffff
  padding: 7px 0px 5px 0px
  width: 166px
  z-index: 100
  right: 0
  top: 1858px
  position: absolute
  border-bottom: 1px solid rgb(79, 12, 12)
.info4:hover
  cursor: pointer
  background-color: rgb(79, 12, 12)
.vehicleInfo4
  background-color: rgba(255, 255, 255,1)
  color: #000000
  position: absolute
  width: 940px
  padding: 35px 20px 20px 20px
  top: 1560px
  left: 0
  z-index: 1
  height: 421px
  display: none
  ul
    margin: 30px 0 0 30px
    font-size: 25px
    line-height: 1.5

.info5
  text-decoration: none
  text-align: center
  font-size: 12px
  background-color: rgb(98, 15, 15)
  color: #ffffff
  padding: 7px 0px 5px 0px
  width: 166px
  z-index: 100
  right: 0
  top: 2377px
  position: absolute
  border-bottom: 1px solid rgb(79, 12, 12)
.info5:hover
  cursor: pointer
  background-color: rgb(79, 12, 12)
.vehicleInfo5
  background-color: rgba(255, 255, 255,1)
  color: #000000
  position: absolute
  width: 940px
  padding: 35px 20px 20px 20px
  top: 2080px
  left: 0
  z-index: 2
  height: 421px
  display: none
  ul
    margin: 30px 0 0 30px
    font-size: 25px
    line-height: 1.5

.info6
  text-decoration: none
  text-align: center
  font-size: 12px
  background-color: rgb(98, 15, 15)
  color: #ffffff
  padding: 7px 0px 5px 0px
  width: 166px
  z-index: 100
  right: 0
  top: 2897px
  position: absolute
  border-bottom: 1px solid rgb(79, 12, 12)
.info6:hover
  cursor: pointer
  background-color: rgb(79, 12, 12)
.vehicleInfo6
  background-color: rgba(255, 255, 255,1)
  color: #000000
  position: absolute
  width: 940px
  padding: 35px 20px 20px 20px
  top: 2600px
  left: 0
  z-index: 3
  height: 421px
  display: none
  ul
    margin: 30px 0 0 30px
    font-size: 25px
    line-height: 1.5
.info7
  text-decoration: none
  text-align: center
  font-size: 12px
  background-color: rgb(98, 15, 15)
  color: #ffffff
  padding: 7px 0px 5px 0px
  width: 166px
  z-index: 100
  right: 0
  top: 3474px
  position: absolute
  border-bottom: 1px solid rgb(79, 12, 12)
.info7:hover
  cursor: pointer
  background-color: rgb(79, 12, 12)
.vehicleInfo7
  background-color: rgba(255, 255, 255,1)
  color: #000000
  position: absolute
  width: 940px
  padding: 35px 20px 20px 20px
  top: 3120px
  left: 0
  z-index: 3
  height: 421px
  display: none
  ul
    margin: 30px 0 0 30px
    font-size: 25px
    line-height: 1.5
.info8
  text-decoration: none
  text-align: center
  font-size: 12px
  background-color: rgb(98, 15, 15)
  color: #ffffff
  padding: 7px 0px 5px 0px
  width: 166px
  z-index: 100
  right: 0
  top: 3417px
  position: absolute
  border-bottom: 1px solid rgb(79, 12, 12)
.info8:hover
  cursor: pointer
  background-color: rgb(79, 12, 12)
.vehicleInfo8
  background-color: rgba(255, 255, 255,1)
  color: #000000
  position: absolute
  width: 940px
  padding: 35px 20px 20px 20px
  top: 3120px
  left: 0
  z-index: 3
  height: 421px
  display: none
  ul
    margin: 30px 0 0 30px
    font-size: 25px
    line-height: 1.5
.info9
  text-decoration: none
  text-align: center
  font-size: 12px
  background-color: rgb(98, 15, 15)
  color: #ffffff
  padding: 7px 0px 5px 0px
  width: 166px
  z-index: 100
  right: 0
  top: 3937px
  position: absolute
  border-bottom: 1px solid rgb(79, 12, 12)
.info9:hover
  cursor: pointer
  background-color: rgb(79, 12, 12)
.vehicleInfo9
  background-color: rgba(255, 255, 255,1)
  color: #000000
  position: absolute
  width: 940px
  padding: 35px 20px 20px 20px
  top: 3640px
  left: 0
  z-index: 3
  height: 421px
  display: none
  ul
    margin: 30px 0 0 30px
    font-size: 25px
    line-height: 1.5
.liner
  text-decoration: line-through

.valHolder
  background-color: rgba(255, 255, 255,0.8)
  width: 140px
  padding: 20px 20px 25px 30px
  position: relative
  top: -203px
  left: 765px

.msrp
  font-size: 30px
  font-weight: 800

.msrpSettings
  font-weight: 300

.savingsSettings
  font-weight: 300
  font-size: 22px

.savings
  font-size: 30px
  font-weight: 800
  color: green
  vertical-align: top
.msrpPrice
  font-weight: 400
  color: black
  text-decoration: line-through
  padding: 0
  margin: 0
  font-size: 25px
.newHr
  border-bottom: 1px solid #000
  margin: 7px 0

.terms
  position: relative
  margin: -70px 0 0 0
  top: 70px
  color: #ffffff
  font-size: 10px
.termsDark
  position: absolute
  top: 435px
  left: 25px
  color: #000
  font-size: 10px
.hellcatTerms
  top: 255px
.whiteBG
  color: #000000
@media (max-width: 919px)
  .info
    display: none
  .vehicleInfo
    display: none
  .info2
    display: none
  .vehicleInfo2
    display: none
  .info3
    display: none
  .vehicleInfo3
    display: none
  .info4
    display: none
  .vehicleInfo4
    display: none
  .info5
    display: none
  .vehicleInfo5
    display: none
  .info6
    display: none
  .vehicleInfo6
    display: none
  .info7
    display: none
  .vehicleInfo7
    display: none
  .info8
    display: none
  .vehicleInfo8
    display: none
  .info9
    display: none
  .vehicleInfo9
    display: none
  .spcMob
    font-size: 14px
    display: block
  .mobHide
    display: none
  .specialContainer

  .priceContainer
    text-align: center
    position: relative
    top: 350px
    left: 0px
    width: 280px
    padding: 0px
    border: 0px
    margin: 0px
  .clickPriceButton
    text-align: center
    text-decoration: none
    font-size: 12px
    background-color: maroon
    color: #ffffff
    padding: 10px 108px 10px 108.7px
    z-index: 100
    position: relative
    top: 145px

  .clickPriceButtonR
    text-align: center
    text-decoration: none
    font-size: 12px
    background-color: maroon
    color: #ffffff
    padding: 10px 95px 10px 95px
    z-index: 100
    position: relative
    top: 175px
  .valHolder
    background-color: rgba(255, 255, 255,0.0)
    width: 280px
    padding: 20px 0px 25px 0px
    position: relative
    left: 0
    top: 20px
  .yourPrice
    background-color: rgba(255, 255, 255,0.0)
    text-align: center
    width: 330px
    margin: auto
    padding: 15px 10px
    z-index: 99
    text-decoration: none
    color: #000000
    font-weight: 400
    font-size: 22px
    position: relative
    top: -15px
    left: -30px
  .msrp

    font-size: 50px
    font-weight: 800
    display: block
    line-height: 1
  .msrpSettings
    margin: 15px 0 0 0
    font-weight: 300
    font-size: 22px

  .savingsSettings
    font-weight: 300
    font-size: 22px

  .yearMake
    font-weight: 900
    padding: 10px 0 0 15px
    color: #000

  .model
    font-size: 90px
    color: #000
  .liner
    display: none
  .trim
    font-size: 21px
    text-align: right
    position: relative
    top: 0px
    right: 20px
    color: #000
  .mobileSave
    font-size: 70px

  .terms
    position: relative
    top: 210px
    left: 10px
    font-size: 10px
    color: #000
  .msrpSettings
    padding: 0 0 0 10px
  .savingsSettings
    padding: 0 0 0 10px
  .vehicle
    z-index: 1000
    position: absolute
    background-color: rgba(255, 255, 255, 1)
    margin: -67px 0 0 0px
    height: 70px
    width: 280px
    padding: 0
  .list1
    background-image: url("200M.png")
    padding: 0px
    width: 280px
    height: 540px
    margin: 100px 0 100px 0
    background-size: 100%
    background-repeat: no-repeat
    background-color: #ffffff
  .list2
    background-image: url("challengerM.png")
    padding: 0px
    width: 280px
    height: 365px
    margin: 100px 0 100px 0
    background-size: 100%
    background-repeat: no-repeat
    background-color: #ffffff
  .list3
    background-image: url("CHH2415M.png")
    padding: 0px
    width: 280px
    height: 365px
    margin: 100px 0 100px 0
    background-size: 100%
    background-repeat: no-repeat
    background-color: #ffffff
  .list4
    background-image: url("CHH2234M.png")
    padding: 0px
    width: 280px
    height: 365px
    margin: 100px 0 100px 0
    background-size: 100%
    background-repeat: no-repeat
    background-color: #ffffff
  .list5
    background-image: url("CHH2441M.png")
    padding: 0px
    width: 280px
    height: 365px
    margin: 100px 0 100px 0
    background-size: 100%
    background-repeat: no-repeat
    background-color: #ffffff
  .list6
    background-image: url("CHH1913M.png")
    padding: 0px
    width: 280px
    height: 365px
    margin: 100px 0 100px 0
    background-size: 100%
    background-repeat: no-repeat
    background-color: #ffffff
  .list7
    background-image: url("CHH1839BM.png")
    padding: 0px
    width: 280px
    height: 365px
    margin: 100px 0 100px 0
    background-size: 100%
    background-repeat: no-repeat
    background-color: #ffffff
  .list8
    background-image: url("CHH2082M.png")
    padding: 0px
    width: 280px
    height: 365px
    margin: 100px 0 100px 0
    background-size: 100%
    background-repeat: no-repeat
    background-color: #ffffff
  .list9
    background-image: url("CHH2800AM.png")
    padding: 0px
    width: 280px
    height: 365px
    margin: 100px 0 100px 0
    background-size: 100%
    background-repeat: no-repeat
    background-color: #ffffff
  .priceContainer
    text-align: center
    position: relative
    top: 320px
    left: 0px
    width: 280px
    padding: 0px
    border: 0px
    margin: 0px
  .priceContainerR
    text-align: center
    position: relative
    top: 170px
    left: 0px
    width: 280px
    padding: 0px
    border: 0px
    margin: 0px
  .msrpPrice
    font-size: 20px
